# MySQL Settings
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

#####################
### Port settings ###
#####################

# DB Ports
DB_PORT=

# Rails HTTP Ports
HTTP_PORT=
